//.isFullBooking .rbc-event{
//  background-color: #01B698;
//}
.rbc-event{
  background-color: white;
}
.calenderContainer{
  font-size: 14px;
  border-radius: 4%;
  //padding: 2px;
  border-top: #01B698 ;
  align-items: center;
  text-align: center;
  .descriptionStyle{
    text-decoration: underline;
    font-weight: 600;
  }
}
.fullCalendarWidth{
  width: 100%;
}
.notFullCalendarWidth{
  width: calc(100% - 400px);
}

.month-calender-wrapper{
  height: 600px;
  width: 100%;
}
.week-calender-wrapper{
  padding: 5%;
  width: 100%;
}
.week-calender-wrapper .rbc-time-content {
  display: none;
}
.rbc-toolbar{
  gap: 10px;
}
.rbc-label {
  display: none;
}