.mainPanelContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  .mainPanelBody{
    padding-inline: 5%;
  }
  .addEventButtonWrapper{
    margin-block: 30px;
    .addEventButtonText{
      color: var(--white);
      background-color: var(--primary);
      border-radius: 16px;
      padding: 16px;
      cursor: pointer;
      border: solid 1px var(--wolf);

    }

    .addEventButtonSelected{
      color: var(--dark-grey);
      background-color: var(--wolf);
      border-radius: 16px;
      padding: 16px;
      cursor: pointer;
      border: solid 1px var(--dark-grey);
    }
  }

}