.calendersWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  .calenderContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .calenderContainerLabel{
      color: var(--grey-text);
      font-size: 18px;
    }
  }
}


