.clientEventDetails{
  padding-block: 20px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
.descriptionLabel{
  font-size: 28px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
  .eventDetailsText{
    font-size: 20px;
    display: flex;
    justify-content: end;
  }
  .setAvailabilityText{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: end;
  }
  .iconsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
